/* MAIN TITLE */
h1{
  color: #1E3A8A;  /* changed to blue */
  font-size: 36px;
  margin-bottom: 15px;
}

/* SUB HEADINGS */
h2, h3{
  margin-top: 20px;
  font-size: 24px;
  color: #1E3A8A;  /* changed to blue */
}